<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Search for Skills</h1>
    <form action="{{ url_for('result') }}" method="post">
        <label for="website">Select Website:</label>
        <select id="website" name="website">
            <option value="1">berlinstartupjobs</option>
            <option value="2">weworkremotely</option>
            <option value="3">web3</option>
        </select>
        <br>
        <label for="skill">Enter Skill:</label>
        <input type="text" id="skill" name="skill" required>
        <br>
        <button type="submit">Search</button>
    </form>
</body>
</html>
